---
import SectionContainer from './SectionContainer.astro';
import SectionTitle from './SectionTitle.astro';
---

<SectionContainer>
  <SectionTitle
    title="About me"
    id="about-me"
  />

  <div class="mt-5 grid grid-cols-1 gap-4 md:grid-cols-6">
    <div class="md:col-span-2 md:order-last">
      <img
        class="rotate-3 w-full max-w-[300px] mx-auto md:w-auto"
        src="/salvamidu.webp"
        alt="Salvador Jesus and Migel Angel Duran"
      />
    </div>
    <div class="md:col-span-4">
      <article class="mt-3 space-y-5 text-body-lg text-light-text-secondary dark:text-dark-text-secondary">
        <p class="text-pretty">
          My name is Salvador Jesus, but I prefer to go by Salva. I started programming with C++ and Codeblocks at 18
          years old, with no prior knowledge. Today, <span>I work as a frontend developer at Vueling</span>, one of the
          most important airlines in Spain.
        </p>
        <p class="text-pretty">
          Over the years, I have continued <span>learning through tech channels like Midudev</span> ❤️, participated in
          <span>hackathons organized by NUWE</span> and in <span>"La Piscine" at 42 Barcelona</span>.
        </p>
        <p class="text-pretty">
          Outside the tech world, I love traveling, reading, and watching anime. <span>
            Recently, I've resumed my English studies with a more disciplined approach.
          </span> For 2025, I've set myself the goals of <span>visiting three countries</span> and developing at least
          <span>two freelance projects</span> during my free time.
        </p>
      </article>
    </div>
  </div>
</SectionContainer>

<style>
  span {
    @apply text-light-accent-primary dark:text-dark-accent-primary font-medium;
  }
</style>
