<span
  class="px-3 py-1 border rounded-full border-light-border-subtle dark:border-dark-border-subtle bg-light-accent-soft dark:bg-dark-accent-hover transition-all duration-300"
>
  <span
    class="flex justify-center text-center text-body-sm text-light-accent-primary dark:text-dark-accent-primary text-pretty"
  >
    ❤️ Available for part-time freelance opportunities
  </span>
</span>
