---
interface Props {
  title: string;
  description: string;
  company: string;
  date: string;
}

const { title, description, company, date } = Astro.props;
---

<article class="flex mt-5 gap-x-3">
  <div class="w-32 text-end">
    <span class="text-body-sm text-light-text-secondary dark:text-dark-text-secondary whitespace-nowrap">
      {date}
    </span>
  </div>

  <div
    class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-light-border-subtle dark:after:bg-dark-border-subtle"
  >
    <div class="relative z-10 flex items-center justify-center size-7">
      <div class="rounded-full size-2 bg-light-accent-primary dark:bg-dark-accent-primary"></div>
    </div>
  </div>

  <div class="grow pt-0.5 pb-8">
    <h3 class="flex gap-x-1.5 font-semibold text-light-accent-primary dark:text-dark-accent-primary text-body-lg">
      {title}
    </h3>

    <p class="mt-1 text-body-sm font-medium text-light-text-secondary dark:text-dark-text-secondary">{company}</p>
    {description && <p class="mt-2 text-body-sm leading-relaxed text-light-text-secondary dark:text-dark-text-secondary text-pretty">{description}</p>}
  </div>
</article>
