---
import SectionContainer from './SectionContainer.astro';

const currentYear = new Date().getFullYear();
---

<SectionContainer>
  <footer class="py-12 px-4">
    <div class="flex flex-col items-center gap-2">
      <p class="text-sm">
        <span
          class="bg-gradient-to-r from-sky-200 to-sky-400 bg-clip-text text-transparent hover:from-sky-300 hover:to-sky-500 transition-colors"
        >
          Inspired by <a
            href="https://midu.dev"
            target="_blank"
            rel="noopener noreferrer"
            class="font-medium hover:text-sky-400 transition-colors hover:underline hover:underline-offset-2 decoration-sky-200 hover:decoration-sky-400"
          >
            @Midudev
          </a>
        </span>
      </p>
      <p
        class="border border-sky-500/40 bg-sky-500/5 px-4 py-1 rounded-full hover:border-sky-400/40 hover:bg-sky-400/10 transition-all duration-300"
      >
        <span class="bg-gradient-to-r from-sky-300 to-blue-500 bg-clip-text text-transparent text-sm">
          © {currentYear} • Made with ♥ using Astro and Tailwind CSS
        </span>
      </p>
    </div>
  </footer>
</SectionContainer>
