---
import SectionContainer from './SectionContainer.astro';

const currentYear = new Date().getFullYear();
---

<SectionContainer>
  <footer class="px-4 py-12">
    <div class="flex flex-col items-center gap-2">
      <p class="text-body-sm text-light-text-secondary dark:text-dark-text-secondary">
        © {currentYear} • Inspired by <a
          href="https://midu.dev"
          target="_blank"
          rel="noopener noreferrer"
          class="font-medium text-light-accent-primary dark:text-dark-accent-primary hover:underline hover:underline-offset-2 transition-colors"
        >
          @Midudev
        </a>
      </p>
      <p
        class="px-4 py-1 border rounded-full border-light-border-subtle dark:border-dark-border-subtle bg-light-accent-soft dark:bg-dark-accent-hover transition-all duration-300"
      >
        <span class="text-body-sm text-light-text-secondary dark:text-dark-text-secondary text-pretty">
          Made with ♥ using Astro and Tailwind CSS
        </span>
      </p>
    </div>
  </footer>
</SectionContainer>
