---
import Avatar from './Avatar.astro';
import Badge from './Badge.astro';
import SectionContainer from './SectionContainer.astro';
import Socials from './Socials.astro';
---

<SectionContainer>
  <div class="flex space-x-8">
    <Avatar />
    <div class="flex flex-col items-center justify-center">
      <Badge />
    </div>
  </div>

  <div class="mt-4">
    <p class="text-3xl font-bold">Hi, I'm Salva..</p>
    <p class="mt-5 text-xl">
      <span class="text-teal-400/90">
        <span class="underline underline-offset-[5px]">Front-End Developer (Angular)</span>
        at Vueling Airlines.
      </span>
    </p>

    <p
      class="text-lg mt-4 text-gray-300/90 text-pretty max-w-[600px] p-4 bg-teal-400/5 border border-teal-400/20 rounded-lg"
    >
      +1 year of experience, based in Barcelona, Spain 🇪🇸. Building experiences in the airline industry, taking on
      freelance projects, and sharing my journey through content creation.
    </p>
    <Socials />
  </div>
</SectionContainer>
