---
interface Props {
  title: string;
  id?: string;
}

const { title, id } = Astro.props;
---

<div class="flex items-center gap-2">
  <div class="w-1 h-8 rounded bg-light-accent-primary dark:bg-dark-accent-primary"></div>
  <h2
    class="text-heading-xs text-light-text-primary dark:text-dark-text-primary scroll-mt-24"
    id={id}
  >
    {title}
  </h2>
</div>
