---
import MailIcon from '@/assets/icons/mail.astro';
import Linkedin from '@/assets/icons/linkedin.astro';
import Github from '@/assets/icons/github.astro';
---

<div class="flex mt-8 space-x-4">
  <a
    href="mailto:salvadorjesus.freelance@gmail.com"
    class="social-link"
  >
    <MailIcon />
    Contact me
  </a>
  <a
    href="https://www.linkedin.com/in/gallianoms/"
    target="_blank"
    rel="noopener noreferrer"
    class="social-link"
  >
    <Linkedin />
    LinkedIn
  </a>
  <a
    href="https://github.com/jsalvadev"
    target="_blank"
    rel="noopener noreferrer"
    class="social-link"
  >
    <Github />
    Github
  </a>
</div>

<style>
  .social-link {
    @apply rounded-full px-3 py-1 border border-solid text-body-sm flex items-center gap-2
    text-light-text-secondary dark:text-dark-text-secondary
    border-light-border-subtle dark:border-dark-border-subtle
    transition-colors duration-200
    hover:text-light-accent-primary dark:hover:text-dark-accent-primary
    hover:border-light-accent-primary dark:hover:border-dark-accent-primary;
  }
</style>
